<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<ng-include src="'app/partials/pagebar.html'"></ng-include>
<a href="{{ $state.href('treating_provider-new') }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> New</a>
<h3 class="page-title">
{{$state.current.data.pageInfo.title}} <small>{{$state.current.data.pageInfo.titleDesc}}</small>
</h3>
<!-- END PAGE HEADER-->
<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12">
        <div ui-grid="$global.TreatingProviderListCtrl.gridOptions" ui-grid-pagination class="grid">
            <div class="grid-msg-overlay" ng-hide="!loadingGrid">
                <div class="msg">
                    <span>
                      <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
