            <div class="form-group">
                <label class="control-label">Name(*)</label>
                <input type="text" placeholder="Name of Organization" class="form-control" data-ng-model="selectedRecord.org_name" required />
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <ui-select data-ng-model="selectedRecord.org_type" theme="bootstrap">
                    <ui-select-match placeholder="Type of Organization">
                        {{$select.selected.display_name}}
                    </ui-select-match>
                    <ui-select-choices repeat="choice.value as choice in $global.Organization.typeChoices | filter: $select.search" value="{{$select.selected.id}}">
                        <span ng-bind-html="choice.display_name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">Contact Name</label>
                <input type="text" placeholder="Contact Name of Organization" class="form-control" data-ng-model="selectedRecord.org_contact_name" />
            </div>
            <div class="form-group">
                <label class="control-label">Phone (format: +xxxxxxxxxxxx):</label>
                <input type="tel" placeholder="Phone of Organization" class="form-control" pattern="^\+\d{11,12}$" data-ng-model="selectedRecord.org_phone" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" placeholder="Email of Organization" class="form-control" data-ng-model="selectedRecord.org_email"/>
            </div>
            <div class="form-group">
                <label class="control-label">Is Special?</label>
                <input type="checkbox" data-ng-model="selectedRecord.org_special"/>
            </div>
