{% extends "base.html" %}

{% block content %}
    <a href="{% url 'add-organization' %}" class="btn btn-success new-btn"> <span class="glyphicon-plus"></span> New</a>
{% if organizations %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Contact Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Special</th>
            <th style="width: 100px;">Actions</th>
        </tr>
        {% for organization in organizations %}
            <tr>
                <td><a href="{% url 'edit-organization' organization.id %}">
                    {{ organization.org_name }}
                </a></td>
                <td>{{ organization.get_org_type_display }}</td>
                <td>{{ organization.org_contact_name }}</td>
                <td>{{ organization.org_phone }}</td>
                <td>{{ organization.org_email }}</td>
                <td>{{ organization.org_special }}</td>
                <td>
                    <a href="{% url 'edit-organization' organization.id %}" class="btn btn-warning" title="Edit"><span class="fa fa-pencil"></span></a>
                    <button class="btn btn-danger delete-action" data-delete-modal="{{organization.id}}" title="Delete"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="active"><a href="?page={{ page }}">
                            {{ page }}
                        </a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}"
                               aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <p>No organizations found.</p>
{% endif %}
{% endblock content %}
{% block javascript %}
{% include "delete-modal.html" with delete_url_name="delete-organization" %}
{% endblock %}
