{% extends "base.html" %}

{% block content %}
<div class="form col-sm-offset-2 col-sm-8">

    <center><h2><strong>Record Patient Visit</strong></h2></center>

      <form id="form-patient_visit" method="POST" class="form-horizontal" action=".">
      {% csrf_token %}

      {% for field in form.visible_fields %}

      <div class="form-group">
          <label for="{{field.id_for_label}}" class="col-sm-2 control-label">
            {{field.label}}{% if field.field.required %}*{% endif %}
          </label>
          <div class="col-sm-6">

            {% if field.name == 'visit_date' %}
            <div class="form-group">
              <div class='input-group date datetimepicker' id="visit_date_picker">
                {{ field }}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            {% elif field.name == 'visit_appointment_time' or field.name == 'visit_actual_time' %}
            <div class="form-group">
              <div class='input-group date datetimepicker timeonlypicker'>
                {{ field }}
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
            {% else %}
            {{ field }}
            {% endif %}

            {{ field.errors }}
            {{ field.help_text }}
          </div>
      </div>

      {% endfor %}


      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </div>

    </form>
      <hr>
</div>


{% endblock content %}

 {% block javascript %}

 <script type="text/javascript">
    $( document ).ready(function() {

    $('#visit_date_picker').datetimepicker({
      showTodayButton: true,
      format: 'YYYY-MM-DD',
      timeZone: '{{timezone}}',
      ignoreReadonly: true,
      viewMode: 'days'
    });

    $('.timeonlypicker').datetimepicker({
      format: 'HH:mm'
    });

    $("input[type='text']").addClass('form-control')
    $("input[type='number']").addClass('form-control')
    $("#id_referring_entity-wrapper input").css("width", "464px");

    $('select').addClass("form-control");
});
        </script>
  {% endblock %}

