{% extends "base.html" %}

{% block content %}
{% if patient_visits %}
    <table class="table">
        <tr>
            <th>Referring Entity</th>
            <th>Treating Provider</th>
            <th>Visit Date</th>
            <th>Appointment Time</th>
            <th>Actual Time</th>
            <th>Visit Count</th>
            <th style="width: 100px;">Actions</th>
        </tr>
        {% for patient_visit in patient_visits %}
            <tr>
                <td><a href="{% url 'edit-patient-visit' patient_visit.id %}">
                    {{ patient_visit.referring_entity.entity_name }}
                </a></td>
                <td>{{ patient_visit.treating_provider.provider_name}}</td>
                <td>{{ patient_visit.visit_date }}</td>
                <td>{{ patient_visit.visit_appointment_time }}</td>
                <td>{{ patient_visit.visit_actual_time }}</td>
                <td>{{ patient_visit.visit_count }}</td>
                <td>
                    <a href="{% url 'edit-patient-visit' patient_visit.id %}" class="btn btn-warning" title="Edit"><span class="fa fa-pencil"></span></a>
                    <button class="btn btn-danger delete-action" data-delete-modal="{{patient_visit.id}}" title="Delete"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="active"><a href="?page={{ page }}">
                            {{ page }}
                        </a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}"
                               aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <p>No treating providers found.</p>
{% endif %}
{% endblock content %}
{% block javascript %}
{% include "delete-modal.html" with delete_url_name="delete-patient-visit" %}
{% endblock %}
