{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="form col-sm-offset-2 col-sm-8">
      <a class="btn btn-primary pull-right" href="{% url 'add-organization' %}" role="button">
      Add Organization</a>
      <div class="col-sm-9">
        <center><h2><strong>Create Referring Entity</strong></h2></center>
  
        <form id="form-referring_entity" method="POST" class="form-horizontal" action="." novalidate>
          {% if success %}
              <div class="alert alert-success" role="alert">
                  Changes saved succesfully
              </div>
          {% endif %}
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons submit='Save' %}{% endbuttons %}
        </form>
        </div>

      <hr>
</div>
{% endblock content %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function () {
  $("input[type='text']").addClass('form-control')
  $("input[type='email']").addClass('form-control')
  $("#id_organization-wrapper input").css("width", "464px");

  $("#id_entity_name").addClass("capital");

});
</script>

{% endblock %}