{% extends "base.html" %}

{% block content %}
{% if treating_providers %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Type</th>
        </tr>
        {% for treating_provider in treating_providers %}
            <tr>
                <td><a href="/edit/treating_provider/{{ treating_provider.id }}/">
                    {{ treating_provider.provider_name }}
                </a></td>
                <td>{{ treating_provider.provider_title }}</td>
                <td>{{ treating_provider.get_provider_type_display }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" 
                               aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="active"><a href="?page={{ page }}">
                            {{ page }}
                        </a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" 
                               aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% else %}
    <p>No treating providers found.</p>
{% endif %}
{% endblock content %}
